
{% extends 'base.html' %}
{% block content %}

    <title>SB Admin 2 - Tables</title>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form method="post" action="{% url 'member:login' %}">
                                        {% csrf_token %}
                                        {% include "form_errors.html" %}
                                        <div class="form-group">
                                            <input type="username" class="form-control form-control-user"
                                                id="username" aria-describedby="Username"
                                                placeholder="Username" name="username"  value="{{ form.username.value|default_if_none:'' }}">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="password" placeholder="Password" name="password" value="{{ form.password.value|default_if_none:'' }}">
                                        </div>
                                        <button type="submit" class="btn btn-primary">로그인</button>

                                    </form>
                                    <hr/>
                                    <br/>
                                    <br/>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <script>
            function chk_form() {
                if(document.getElementById("username").value==''){
                    alert("아이디을 입력해주십시오.");
                    return false;
                }
                if(document.getElementById("password").value==''){
                    alert("비밀번호를 입력해주십시오.");
                    return false;
                }
                document.getElementById('form').submit();
            }
        </script>

        {% endblock %}