{% extends 'base.html' %}
{% block content %}

{% load static %}

    <title>SB Admin 2 - Tables</title>

</head>
<!-- 수동 스케줄러-->
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- hello -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid"><br/>

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Cluster 등록</h1>
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">ADD Cluster</h6>
                        </div>
                        <div class="card-body">

                            <form >

                                <div class="mb-4 " >
                                    <p style="width: 100px; float:left; margin-right: 10px;">Cluster 이름 : </p>
                                    <input type="text" class="form-control form-control-user" style="width:140px;" id="inputmax"
                                        placeholder="Cluster Name" name="inputmax" value="">
                                </div>
                                
                                <div class="mb-4" >
                                    <p style="width: 100px; float:left; margin-right: 10px;">kubeconfig : </p>
                                    <input type="text" class="form-control form-control-user" style="width:160px;" id="inputmin"
                                        placeholder="kubecfg Filename" name="inputmin" value="">
                                </div>

                                </hr>
                                <a href="#" class="btn btn-primary" style="float:right; margin-right:15px;" type="reset">
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">등록</span>
                                </a>
                                
                            </form>




                        
                            
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>OJeomMwo</span>                    
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'login' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function changeBtnName1()  {
            const btnElement = document.getElementById('btn1');
            const nsElement = document.getElementById('apins').getAttribute('data-value');
            btnElement.innerText = nsElement;
        }
        function changeBtnName2()  {
            const btnElement = document.getElementById('btn2');
            const ctnElement = document.getElementById('apictn').getAttribute('data-value');
            console.log(ctnElement)
            btnElement.innerText = ctnElement;
        }
        function changeBtncpu()  {
            const btnElement = document.getElementById('dropdownMenuButton');
            const hpaElement = document.getElementById('cpu').getAttribute('data-value');
            btnElement.innerText = hpaElement;
        }
        function changeBtnram()  {
            const btnElement = document.getElementById('dropdownMenuButton');
            const hpaElement = document.getElementById('ram').getAttribute('data-value');
            btnElement.innerText = hpaElement;
        }
        function changeBtnpromql()  {
            const btnElement = document.getElementById('dropdownMenuButton');
            const hpaElement = document.getElementById('promql').getAttribute('data-value');
            btnElement.innerText = hpaElement;
        }
        </script>



{% endblock %}
