{% extends 'base.html' %}
{% block content %}

{% load static %}

    <title>SB Admin 2 - Tables</title>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'board_list' %}">

                <div class="sidebar-brand-text mx-3">CD using argo</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                CD using argo
            </div>



            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>배포 정책 관리</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" href="{% url 'board_list' %}">통합 배포</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->


        <!-- hello -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>



                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static 'img/undraw_profile.svg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <span >
                                    <i class="fas fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Signed in as admin
                                </span>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'user_changepw' %}">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Change password
                                </a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">argo를 활용한 CD 통합 배포</h1>
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Create App List</h6>
                        </div>
                        <div class="card-body">



                            <div class="my-2">

                                <!--추가-->
                                <a href="#" onclick="showPopup0();" class="btn btn-primary" style="float:right; margin-right:15px;">
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">새로운 APP 생성</span>
                                </a>
                                <!--추가-->
                                <a href="#" onclick="showPopup1();" class="btn btn-primary" style="float:right; margin-right:15px;">
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">클러스터 등록</span>
                                </a>
                            </div>

                            <br/><br/>

                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Appname</th>
                                            <th>Cluster명</th>
                                            <th>이미지</th>
                                            <th>태그</th>
                                            <th>kube_config</th>
                                            <th>Manifest</th>
                                            <th>GIT_URL</th>
                                            <th style="width: 130px;">최종 배포 시간</th>
                                            <th>배포</th>
                                            <th>History</th>
                                            <th>APP 수정</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for appcreate in appcreates %}
                                        <tr>
                                            <td >{{ appcreate.appname }}</td>
                                            <td >{{ appcreate.cluster }}</td>
                                            <td >{{ appcreate.cn_img }}</td>
                                            <td >{{ appcreate.tag }}</td>
                                            <td >{{ appcreate.kube_cfg }}</td>
                                            <td >{{ appcreate.kube_mani }}</td>
                                            <td >{{ appcreate.repo_url }}</td>
                                            <td >{{ appcreate.up_date }}</td>
                                            <td>
                                                <a href="#" onclick="showPopup2();" class="btn btn-primary" style="float:right; margin-right:15px;">
                                                    <span class="icon text-white-50">
                                                    </span>
                                                    <span class="text">배포</span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#" onclick="showPopup3();" class="btn btn-primary" style="float:right; margin-right:15px;">
                                                    <span class="icon text-white-50">
                                                    </span>
                                                    <span class="text">배포 이력</span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#" onclick="showPopup4();" class="btn btn-primary" style="float:right; margin-right:15px;">
                                                    <span class="icon text-white-50">
                                                    </span>
                                                    <span class="text">수정</span>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>OJeomMwo</span>                    
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'member:login' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    
    <script>
        function showPopup0(){
            var width = 600;
            var height = 500;
            var top = 50;
            var left = 25;

            var left = Math.ceil(( window.screen.width - width )/2);
            var top = Math.ceil(( window.screen.height - height )/2); 

            left += window.screenLeft;
            
            window.open( "{% url 'appcreate' %}","appcreate","width=" + width + ", height=" + height + ", top=" + top + ", left=" + left );
        }
        function showPopup1(){
            var width = 600;
            var height = 500;
            var top = 50;
            var left = 25;

            var left = Math.ceil(( window.screen.width - width )/2);
            var top = Math.ceil(( window.screen.height - height )/2); 

            left += window.screenLeft;
            
            window.open( "{% url 'addcluster' %}","addcluster","width=" + width + ", height=" + height + ", top=" + top + ", left=" + left );
        }
        function showPopup2(){
            var width = 600;
            var height = 500;
            var top = 50;
            var left = 25;

            var left = Math.ceil(( window.screen.width - width )/2);
            var top = Math.ceil(( window.screen.height - height )/2); 

            left += window.screenLeft;
            
            window.open( "{% url 'board_distribute' %}","appdistribute","width=" + width + ", height=" + height + ", top=" + top + ", left=" + left );
        }
        function showPopup3(){
            var width = 600;
            var height = 500;
            var top = 50;
            var left = 25;

            var left = Math.ceil(( window.screen.width - width )/2);
            var top = Math.ceil(( window.screen.height - height )/2); 

            left += window.screenLeft;
            
            window.open( "{% url 'board_history' %}","apphistory","width=" + width + ", height=" + height + ", top=" + top + ", left=" + left );
        }
        function showPopup4(){
            var width = 600;
            var height = 500;
            var top = 50;
            var left = 25;

            var left = Math.ceil(( window.screen.width - width )/2);
            var top = Math.ceil(( window.screen.height - height )/2); 

            left += window.screenLeft;
            
            window.open( "{% url 'board_update' %}","appupdate","width=" + width + ", height=" + height + ", top=" + top + ", left=" + left );
        }
    </script>

{% endblock %}
